.post_embed_container {
  cursor: default;
  position: relative;
  min-width: 100px;
}

.post_embed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
