.card_inner {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  position: relative;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  --within_section_main_gap: var(--dashboard-content-card-padding-horizontal);
  --within_section_minor_gap: rem(12px);
}

.card_header {
  z-index: var(--z-index-editor-toolbar);
  position: sticky;
  top: 0;
  background-color: var(--mantine-color-white);
  /* This is a horrendous hack to hide scroll behind border radius */
  box-shadow: 0px 0px 0px 30px var(--mantine-color-white);
  clip-path: inset(-30px -10px -1px -10px);
  height: var(--dashboard-content-card-sticky-header-height);
  outline: var(--editor-menu-border);
  border-top-left-radius: var(--dashboard-content-card-radius);
  border-top-right-radius: var(--dashboard-content-card-radius);
  display: flex;
  align-items: center;
}

.card_header_inner {
  flex: 1;
  font-size: var(--font-size-composer-sidebar-heading);
  font-weight: var(--font-weight-bold);
  padding: 0 var(--dashboard-content-card-padding-horizontal);
}

.card_body {
  position: relative;
}

.card_body_inner {
  margin: var(--dashboard-content-edit-card-padding);
}

.card_body_inner > * {
  margin-top: var(--within_section_minor_gap);
}

.input_section_header {
  font-size: rem(16px);
  font-weight: var(--font-weight-bold);
  color: var(--mantine-primary-color-filled);
  margin: 0 0 var(--within_section_minor_gap);
}

.input_section_header:not(:first-child) {
  margin-top: calc(var(--within_section_minor_gap) * 5);
}

.profile_info_section {
  display: flex;
  gap: var(--within_section_main_gap);
}

.user_info_stack {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--within_section_minor_gap);
}

.user_info_two_columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--within_section_minor_gap);

  @media (max-width: rem(950px)) {
    display: flex;
    flex-direction: column;
  }
}

.text_input_section {
  padding-left: var(--within_section_minor_gap);
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-dimmed);
}
