.banner_section,
.affiliate_cards_section {
  max-width: var(--page-content-max-width);
  margin: 0 auto;
  margin-bottom: var(--page-section-gap-handwriting);
  padding: 0 var(--page-padding-horizontal);
}

.banner_section {
  margin-bottom: var(--page-section-gap);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner_content {
  font-family: var(--font-family-light);
  font-weight: var(--font-weight-regular);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.banner_content * {
  margin: 0;
}

.banner_content p {
  line-height: 1.5;
}

.banner_content p:nth-child(4) {
  line-height: 2;
  font-size: 14px;
}

.banner_content strong {
  font-weight: var(--font-weight-bold);
}

.banner_content p a {
  text-decoration: none;
  color: var(--color-panda-orange-5);
}

.button_link {
  text-decoration: none;
  color: var(--color-page-off-white);
  background-color: var(--color-panda-orange-5);
  margin-top: 2rem;
  padding: 0.75rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_link:hover {
  background: transparent;
  color: var(--color-panda-orange-5);
  outline: 1px solid var(--color-panda-orange-5);
}
