.composer_sidebar {
  position: fixed;
  z-index: 100;
  top: calc(var(--header-height) + var(--composer-header-height));
  bottom: 0;
  left: 0;
  width: var(--composer-sidebar-width);
  background-color: light-dark(
    var(--mantine-color-white),
    var(--mantine-color-dark-6)
  );
  display: flex;
  flex-direction: column;
  border-right: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.composer_sidebar_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--mantine-spacing-lg);
  padding-bottom: rem(100px);
}
