.post_code_block {
  display: block;
  position: relative;
  font-size: var(--font-size-post-code-block);
  background-color: var(--color-post-bg-code);
  margin: var(--post-code-block-margin);
  padding: var(--post-code-block-padding);
  tab-size: 2;
}

.post_code_block::before {
  content: '';
  position: absolute;
  background-color: var(--color-post-bg-code-highlight);
  left: 0;
  top: 0;
  bottom: 0;
  border-right: var(--post-code-block-highlight-border);
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 25px;
}
