.error_container {
  padding: rem(80px) rem(24px);
}

.label {
  text-align: center;
  font-weight: 900;
  font-size: var(--font-size-editable-h1);
  line-height: 1;
  color: var(--color-menu-text-disabled);
}

.title {
  text-align: center;
  font-weight: 900;
  font-size: var(--font-size-editable-h1);
}

.description {
  color: var(--color-menu-text-greyed);
  font-size: var(--font-size-composer-sidebar-heading);
  text-align: center;
  max-width: rem(540px);
  margin: auto;
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
}
