.post_image_block {
  display: flex;
}

.post_image_container {
  width: 100%;
  max-width: 100%;
}

.post_image_figure {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.post_image_caption {
  color: var(--color-black);
  font-size: var(--font-size-post-figcaption);
  text-align: center;
  word-wrap: break-word;
  padding: var(--font-size-post-figcaption) 0;
}
