.shell_main,
.shell_composer {
  min-height: calc(100vh);
  min-width: rem(576px);
  width: 100%;
}

.shell_main {
  padding-left: var(--navbar-main-width);
  padding-top: var(--header-height);
}

.shell_composer {
  padding-left: 0;
  padding-top: var(--header-height);
}
