.page_content {
  position: relative;
  z-index: 1;
  background-color: var(--mantine-color-body);
  padding-bottom: rem(80px);
  box-shadow: var(--mantine-shadow-md);
  min-height: calc(100vh - var(--header-height));

  @mixin light {
    background-color: var(--mantine-color-white);
    box-shadow: var(--mantine-shadow-sm);
  }

  @mixin dark {
    background-color: var(--mantine-color-dark-7);
    box-shadow: none;
  }
}

.content_wrapper {
  z-index: 1;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: var(--mantine-spacing-xl);
  padding-left: calc(var(--mantine-spacing-xl) * 2);
  padding-right: calc(var(--mantine-spacing-xl) * 2);
  background-color: var(--mantine-color-body);
}
