.page_composer {
  display: flex;
  padding-top: var(--composer-header-height);
  min-height: calc(100vh - var(--header-height));
  position: relative;
  z-index: 1;
  background-color: var(--mantine-color-body);

  @mixin light {
    background-color: var(--mantine-color-gray-2);
    box-shadow: var(--mantine-shadow-sm);
  }

  @mixin dark {
    background-color: var(--mantine-color-dark-7);
    box-shadow: none;
  }
}
