.editor_toolbar_plain_button {
  color: light-dark(var(--color-menu-text-light), var(--color-menu-text-dark));
  font-weight: var(--font-weight-editor);
  background-color: transparent;

  @mixin hover {
    color: light-dark(
      var(--color-menu-text-light),
      var(--color-menu-text-dark)
    );
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}

.editor_toolbar_plain_button span:where([data-position='left']) {
  margin-inline-end: 0;
}

.editor_toolbar_plain_button span:where([data-position='right']) {
  margin-inline-start: var(--editor-toolbar-chevron-gap);
}

.editor_toolbar_dropdown_item {
  color: light-dark(var(--color-menu-text-light), var(--color-menu-text-dark));
  font-weight: var(--font-weight-editor);
}

.editor_toolbar_dropdown_item.active {
  background-color: var(--transparent-blue-hover-bg);
}

.editor_toolbar_dropdown_item_font_size {
  composes: editor_toolbar_dropdown_item;
  text-align: center;
}

svg {
  stroke-width: var(--editor-toolbar-icon-stroke);
  color: var(--color-menu-text-light);
  height: rem(20px);
  width: rem(20px);
}
