.post_heading_1,
.post_heading_2,
.post_heading_3,
.post_heading_4,
.post_heading_5 {
  font-family: var(--font-family-book);
  font-weight: var(--font-weight-regular);
  margin: 0;
}

.post_heading_1 {
  font-size: var(--font-size-post-h1);
  color: var(--color-font-post-h1);
}

.post_heading_2 {
  font-size: var(--font-size-post-h2);
  color: var(--color-font-post-h2);
}

.post_heading_3 {
  font-size: var(--font-size-post-h3);
  color: var(--color-font-post-h3);
}

.post_heading_4 {
  font-size: var(--font-size-post-h4);
  color: var(--color-font-post-h4);
}

.post_heading_5 {
  font-size: var(--font-size-post-h5);
  color: var(--color-font-post-h5);
}
