.post_text {
  margin: 0;
}

.post_text_bold {
  font-weight: var(--font-weight-bold);
}

.post_text_italic {
  font-style: italic;
}

.post_text_strikethrough {
  text-decoration: line-through;
}

.post_text_underline {
  text-decoration: underline;
}

.post_text_code {
  font-size: 94%;
  background-color: var(--color-bg-code);
  padding: 1px 0.25rem;
}
