.Placeholder__root {
  max-width: var(--editor-content-editable-max-width);
  min-width: var(--editor-content-editable-min-width);
  font-size: var(--font-size-editable-default);
  color: var(--color-menu-text-disabled);
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  margin: auto;
  top: var(--editor-padding-vertical);
  left: var(--editor-padding-horizontal);
  right: var(--editor-padding-horizontal);
  user-select: none;
  white-space: nowrap;
  display: inline-block;
  pointer-events: none;
}
