.featured_post {
  --info-section-height: 90px;

  position: relative;
  box-shadow: var(--box-shadow-card);
}

.featured_post_image {
  position: relative;
  width: 100%;
  height: calc(var(--banner-height) - var(--info-section-height));
  margin: 0;
}

.featured_post_title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5rem 2rem;
}

.featured_post_title div {
  margin-top: 0.5rem;
  background-color: var(--color-page-bg);
  border-radius: 0.5rem;
}

.featured_post_title div:first-child {
  height: 45px;
  width: max(150px, 30%);
  max-width: 80%;
}

.featured_post_title div:nth-child(2) {
  height: 20px;
  width: max(200px, 40%);
  max-width: 90%;
}

.featured_post_bottom {
  box-sizing: border-box;
  min-height: var(--info-section-height);
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
}

.featured_post_bottom div {
  background-color: var(--color-panda-grey-0);
  border-radius: 0.5rem;
  height: 20px;
  width: 80px;
}

.featured_post_bottom div:first-child {
  height: 32px;
  width: min(170px, 90%);
}

/* Shimmer Animation */
.shimmer {
  background: linear-gradient(
    -45deg,
    var(--color-panda-grey-0) 40%,
    var(--color-page-bg) 50%,
    var(--color-panda-grey-0) 60%
  );
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  to {
    background-position-x: 0%;
  }
}

/* Mobile Only Media Query */
@media (max-width: 640px) {
  .featured_post_title,
  .featured_post_bottom {
    padding: 1rem;
  }
}
