.featured_post {
  --info-section-height: 90px;

  position: relative;
  box-shadow: var(--box-shadow-card);
  overflow: hidden;
}

.featured_post_image {
  background-color: var(--color-panda-grey-0);
  width: 100%;
  height: calc(var(--banner-height) - var(--info-section-height));
  margin: 0;
}

.featured_post_title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 1.5rem 2rem;
}

.featured_post_title div {
  margin-top: 0.5rem;
  background-color: var(--color-page-bg);
  border-radius: 0.5rem;
}

.featured_post_title div:first-child {
  height: 45px;
  width: max(150px, 30%);
  max-width: 80%;
}

.featured_post_title div:nth-child(2) {
  height: 20px;
  width: max(200px, 40%);
  max-width: 90%;
}

.featured_post_bottom {
  box-sizing: border-box;
  min-height: var(--info-section-height);
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
}

.featured_post_bottom div {
  background-color: var(--color-panda-grey-0);
  border-radius: 0.5rem;
  height: 20px;
  width: 80px;
}

.featured_post_bottom div:first-child {
  height: 32px;
  width: min(170px, 90%);
}

.affiliate_card {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.affiliate_card:nth-of-type(even) {
  background-color: var(--color-panda-grey-0);
}

.affiliate_card:nth-of-type(odd) {
  background-color: var(--color-panda-grey-1);
}

.affiliate_content {
  position: absolute;
  inset: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.affiliate_content div {
  background-color: var(--color-page-bg);
  border-radius: 0.5rem;
}

.affiliate_content div:first-child {
  height: 40px;
  width: min(300px, 60%);
}

.affiliate_content div:nth-child(2) {
  height: 20px;
  width: min(500px, 80%);
}

/* Shimmer Animation */
.shimmer::before {
  position: absolute;
  inset: 0;
  content: '';
  background-image: linear-gradient(
    90deg,
    transparent,
    var(--color-page-bg) 60%,
    transparent
  );
  transform: translateX(-100%);
  animation: shimmer 2s infinite ease;
}

.affiliate_card:nth-of-type(even).shimmer::before {
  animation-delay: 500ms;
}

@keyframes shimmer {
  to {
    transform: translateX(100%);
  }
}

/* Mobile Only Media Query */
@media (max-width: 640px) {
  .featured_post_title,
  .featured_post_bottom {
    padding: 1rem;
  }
}
