.post_grid_section {
  max-width: var(--page-content-max-width);
  margin: 0 auto;
  margin-bottom: var(--page-section-gap-handwriting);
  padding: 0 var(--page-padding-horizontal);
}

.all_posts_link {
  margin-top: var(--card-grid-gap);
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.all_posts_link a {
  font-family: var(--font-family-ivy-mode);
  color: var(--color-page-off-black);
  text-decoration: none;
}

.all_posts_link a:hover {
  color: var(--color-panda-orange-5);
}

.post_cards_container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--card-grid-min-column-size), 1fr)
  );
  gap: var(--card-grid-gap);
}

/* Mobile Only Media Query */
@media (max-width: 768px) {
  .all_posts_link {
    justify-content: center;
  }
}
