.error_container {
  --spacing-xl: 32px;

  padding: 80px 24px;
  font-family: var(--font-family-light);
}

.title,
.label,
.header {
  font-family: var(--font-family-book);
  text-align: center;
  font-weight: 900;
  font-size: var(--font-size-post-h1);
}

.label {
  line-height: 1;
  color: var(--color-status-disabled);
}

.description,
.dynamic_heading,
.dynamic_description {
  color: var(--color-status-greyed);
  font-size: var(--font-size-post-regular);
  text-align: center;
  max-width: 540px;
  margin: auto;
}

.description {
  margin-top: var(--spacing-xl);
  margin-bottom: calc(var(--spacing-xl) * 1.2);
}

.dynamic_heading {
  margin-top: var(--spacing-xl);
  margin-bottom: calc(var(--spacing-xl) * 0.5);
}

.dynamic_description {
  margin-bottom: calc(var(--spacing-xl) * 1.2);
}

.error_cat_container {
  max-width: 540px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error_cat_container > img {
  align-self: center;
  width: 50%;
}

.button_container {
  display: flex;
  justify-content: center;
}

.error_page_button {
  color: var(--color-status-blue);
  font-family: var(--font-family-light);
  font-size: var(--font-size-post-regular);
  font-weight: var(--font-weight-bold);
  background: transparent;
  outline: none;
  border: none;
}

.error_page_button:hover {
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: var(--color-status-blue);
  font-weight: var(--font-weight-bold);
}
