:root {
  /* General Variables */
  --header-height: rem(48px);
  --composer-header-height: rem(54px);
  --navbar-main-width: rem(255px);
  --composer-sidebar-width: rem(90px);
  --transparent-blue-hover-bg: rgba(34, 139, 230, 0.1);
  --menu-font-weight: 500;

  /* Rich Text Editor Variales */
  --editor-font-family-light: FuturaLT-Light, sans-serif;
  --editor-font-family-book: FuturaLT-Book, sans-serif;
  --editor-toolbar-chevron-gap: rem(5px);
  --editor-toolbar-icon-stroke: rem(1.5px);
  --editor-toolbar-icon-color: var(--mantine-color-gray-7);
  --editor-toolbar-icon-color-disabled: var(--mantine-color-gray-4);
  --editor-toolbar-font-weight: 400;
}
