.error_section {
  font-family: var(--font-family-light);
  color: var(--color-page-off-black);
  text-align: center;
  max-width: var(--page-content-max-width);
  margin: 1rem auto var(--page-section-gap-handwriting);
  padding: 0 var(--page-padding-horizontal);
  display: flex;
  justify-content: center;
  align-items: center;
}

.error_content,
.featured_post_content {
  font-family: var(--font-family-light);
  font-weight: var(--font-weight-regular);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error_content {
  max-width: var(--error-page-content-max-width);
  justify-content: space-between;
}

.featured_post_content {
  position: absolute;
  inset: 0 0 var(--info-section-height);
  padding: var(--page-padding-horizontal);
  justify-content: center;
}

.error_content *,
.featured_post_content * {
  margin: 0;
}

.error_content p:first-child,
.featured_post_content p:first-child {
  font-size: 5rem;
  color: var(--color-panda-grey-5);
}

.error_content h1,
.featured_post_content h3 {
  font-size: var(--font-size-page-section-heading);
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.error_image {
  max-width: var(--error-page-image-max-width);
  height: auto;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button_link {
  text-decoration: none;
  color: var(--color-page-bg);
  background-color: var(--color-panda-orange-5);
  margin-top: 2rem;
  padding: 0.75rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_link:hover {
  background: transparent;
  color: var(--color-panda-orange-5);
  outline: 1px solid var(--color-panda-orange-5);
}

.button {
  font-family: var(--font-family-light);
  font-weight: var(--font-weight-regular);
  font-size: 1rem;
  background: transparent;
  color: var(--color-panda-orange-5);
  outline: 1px solid var(--color-panda-orange-5);
  border: none;
  margin-top: 2rem;
  padding: 0.75rem 2rem;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: 2px solid var(--color-page-off-black);
  border-radius: 2px;
}

/*  */
/* Featured Post Card */
/*  */
.featured_post {
  --info-section-height: 90px;

  position: relative;
  box-shadow: var(--box-shadow-card);
  overflow: hidden;
}

.featured_post_image {
  background-color: var(--color-panda-grey-0);
  width: 100%;
  height: calc(var(--banner-height) - var(--info-section-height));
  margin: 0;
}

.featured_post_bottom {
  box-sizing: border-box;
  min-height: var(--info-section-height);
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
}

.featured_post_bottom div {
  background-color: var(--color-panda-grey-0);
  border-radius: 0.5rem;
  height: 20px;
  width: 80px;
}

.featured_post_bottom div:first-child {
  height: 32px;
  width: min(170px, 90%);
}
