.sidebar_drawer_data {
  flex: 1;
}

.sidebar_drawer_data_error_loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar_drawer_data_list_group {
  margin-top: var(--mantine-spacing-md);
}

.sidebar_drawer_data_list_label {
  font-size: var(--font-size-composer-sidebar-regular);
  font-weight: var(--font-weight-regular);
}

.sidebar_drawer_data_list_description {
  color: var(--mantine-color-dimmed);
}

.sidebar_drawer_list_multiselect_wrapper {
  max-width: calc(
    var(--composer-sidebar-drawer-width) - rem(24px) - rem(32px) - rem(1px)
  );
}

.sidebar_drawer_data_list_tags_input,
.sidebar_drawer_data_list_relatedPosts_input {
  padding-top: rem(12px);
  padding-bottom: rem(12px);
}

.sidebar_drawer_data_list_tags_input {
  margin-top: var(--mantine-spacing-md);
}

.sidebar_drawer_data_list_tags_section,
.sidebar_drawer_data_list_relatedPosts_section {
  padding-top: rem(12px);
  align-items: flex-start;
}

.sidebar_drawer_data_list_tags_pill,
.sidebar_drawer_data_list_relatedPosts_pill {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  background-color: var(--transparent-blue-hover-bg);
}

.sidebar_drawer_data_list_tags_dropdown_option,
.sidebar_drawer_data_list_relatedPosts_dropdown_option {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  text-overflow: ellipsis;

  @mixin hover {
    background-color: var(--transparent-blue-hover-bg);
  }
}

.sidebar_drawer_data_checkbox {
  border-color: var(--mantine-primary-color-filled);
}

.sidebar_drawer_data_settings_container > *:not(:first-child) {
  margin-top: 12px;
}

.text_input_section {
  padding-left: 12px;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-dimmed);
}
