.section_heading {
  font-family: var(--font-family-ivy-mode);
  font-size: var(--font-size-page-section-heading);
  font-weight: var(--font-weight-thin);
  text-align: center;
  color: var(--color-page-off-black);
  margin: 0;
}

.section_heading span {
  position: relative;
  font-family: var(--font-family-handwriting);
  font-size: 6rem;
  bottom: -15px;
  color: var(--color-panda-orange-5);
}
