.featured_post {
  --info-section-height: 90px;

  font-size: var(--font-size-ui-regular);
  position: relative;
  box-shadow: var(--box-shadow-card);
}

.featured_post_image_container {
  position: relative;
  width: 100%;
  height: calc(var(--banner-height) - var(--info-section-height));
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.featured_post_image {
  z-index: var(--z-index-backgrounds);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: var(--card-image-zoom-transition);
}

.featured_post_title_category_container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-family: var(--font-family-light);
  font-weight: var(--font-weight-regular);
  color: var(--color-page-off-white);
  text-shadow: var(--text-shadow-on-bg-image);
  padding: 1.5rem 2rem;
}

.featured_post_title_category_container * {
  margin: 0;
}

.featured_post_title_category_container h2 {
  font-size: var(--font-size-featured-post-title);
  font-weight: var(--font-weight-regular);
}

.featured_post_title_category_container h2 a {
  text-decoration: none;
  color: inherit;
}

.featured_post_category_link_container {
  font-size: var(--font-size-featured-post-links);
  color: var(--color-panda-orange-5);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  row-gap: 0;
  column-gap: 1ch;
}

.featured_post_category_link_container a {
  color: var(--color-panda-orange-5);
  font-family: var(--font-family-book);
  text-decoration: none;
}

.featured_post_bottom {
  box-sizing: border-box;
  min-height: var(--info-section-height);
  display: grid;
  grid-template-columns: 1fr max-content;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
}

.featured_post_link {
  box-sizing: border-box;
  font-family: var(--font-family-book);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  color: var(--color-panda-orange-5);
}

/* Image zoom on link hover */
.featured_post:has(.featured_post_title_category_container h2:hover)
  .featured_post_image {
  transform: var(--card-image-zoom-effect);
  transform-origin: center;
}

.featured_post:has(.featured_post_link:hover) .featured_post_image {
  transform: var(--card-image-zoom-effect);
  transform-origin: center;
}

/* Mobile Only Media Query */
@media (max-width: 640px) {
  .featured_post_title_category_container {
    padding: 1rem;
  }

  .featured_post_category_link_container {
    font-size: var(--font-size-ui-regular);
  }

  .featured_post_title_category_container h2 {
    font-size: calc(var(--font-size-featured-post-title) * 0.75);
  }

  .featured_post_bottom {
    padding: 1rem;
  }
}
