@font-face {
  font-family: 'Madefor';
  font-style: normal;
  src: url('../../public/fonts/Madefor.ttf') format('truetype');
}

@font-face {
  font-family: 'Madefor';
  font-style: italic;
  src: url('../../public/fonts/Madefor_Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura Lt Light';
  font-style: normal;
  src: url('../../public/fonts/FuturaLT-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Futura Lt Book';
  font-style: normal;
  src: url('../../public/fonts/FuturaLT-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist';
  font-style: normal;
  src: url('../../public/fonts/Geist-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Geist Light';
  font-style: normal;
  src: url('../../public/fonts/Geist-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  src: url('../../public/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  src: url('../../public/fonts/Lato-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Light';
  font-style: normal;
  src: url('../../public/fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato Light';
  font-style: italic;
  src: url('../../public/fonts/Lato-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: url('../../public/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  src: url('../../public/fonts/Roboto-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  src: url('../../public/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  font-style: italic;
  src: url('../../public/fonts/Roboto-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Reenie Beanie';
  font-style: normal;
  src: url('../../public/fonts/ReenieBeanie-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Sebastian Bobby';
  font-style: normal;
  src: url('../../public/fonts/SebastianBobby.ttf') format('truetype');
}

body {
  margin: 0;
  position: relative;
  min-height: 100vh;
}

.react-tweet-theme {
  margin: 0;
}
