:root {
  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;

  /* Main layout variables */
  --page-content-max-width: 1100px;
  --page-section-gap: 55px;
  --page-section-gap-handwriting: 35px;

  --page-header-desktop-height: 110px;
  --page-header-mobile-height: 75px;
  --page-header-image-width-desktop: 130px;
  --page-header-image-width-mobile: 100px;

  --page-footer-height: 270px;
  --page-padding-horizontal: 20px;

  --welcome-section-height: 500px;
  --welcome-banner-content-max-width: 500px;
  --introduction-section-height: 800px;
  --hire-me-section-height: 350px;
  --more-about-section-height: 400px;

  --banner-height: 440px;
  --no-posts-min-height: 3rem;

  --card-grid-gap: 30px;
  --card-grid-min-column-size: 300px;
  --card-border: 5px solid var(--color-panda-orange-5);
  --image-filter-hover: blur(2px) brightness(80%);
  --box-shadow-card: 1px 1px 3px rgba(0, 0, 0, 0.15),
    0 10px 5px -5px rgba(0, 0, 0, 0.05), 0 7px 7px -7px rgba(0, 0, 0, 0.04);
  --text-shadow-on-bg-image: 1px 1px 2px var(--color-page-off-black),
    2px 2px 3px rgba(0, 0, 0, 0.2);

  --z-index-backgrounds: -1;
  --z-index-header: 999;
  --z-index-mobile-nav: 998;

  /* Font variables */
  --font-size-ui-regular: 14px;
  --font-size-header: 14px;
  --font-size-footer: 14px;
  --font-size-welcome-content: 16px;
  --font-size-page-section-heading: 29px;
  --font-size-featured-post-title: 36px;
  --font-size-featured-post-links: 16px;
  --font-size-post-card-title: 20px;
  --font-size-category-card: 16px;

  --font-weight-thin: 100;
  --font-weight-regular: 400;
  --font-weight-bold: 600;

  /* Color variables */
  --color-page-bg: #ffffff;
  --color-page-off-white: #fafafa;
  --color-page-off-black: var(--color-panda-grey-9);
  --color-black: #000000;

  --color-panda-brown-0: hsl(13, 57%, 87%);
  --color-panda-brown-1: hsl(13, 57%, 83%);
  --color-panda-brown-2: hsl(13, 57%, 79%);
  --color-panda-brown-3: hsl(13, 57%, 70%);
  --color-panda-brown-4: hsl(13, 57%, 61%);
  --color-panda-brown-5: hsl(13, 57%, 52%);
  --color-panda-brown-6: hsl(13, 57%, 43%);
  --color-panda-brown-7: hsl(13, 57%, 34%);
  --color-panda-brown-8: hsl(13, 57%, 25%);
  --color-panda-brown-9: hsl(13, 57%, 16%); /*  This is the panda body */
  --color-panda-tail-black: #1f1f1f;
  --color-panda-orange-0: hsl(17, 82%, 95%);
  --color-panda-orange-1: hsl(17, 82%, 91%);
  --color-panda-orange-2: hsl(17, 82%, 87%);
  --color-panda-orange-3: hsl(17, 82%, 78%);
  --color-panda-orange-4: hsl(17, 82%, 69%);
  --color-panda-orange-5: hsl(17, 82%, 60%); /*  This is the panda tail */
  --color-panda-orange-6: hsl(17, 82%, 51%);
  --color-panda-orange-7: hsl(17, 82%, 42%);
  --color-panda-orange-8: hsl(17, 82%, 33%);
  --color-panda-orange-9: hsl(17, 82%, 24%);
  --color-human-panda-brown-0: hsl(22, 32%, 99%);
  --color-human-panda-brown-1: hsl(22, 32%, 99%);
  --color-human-panda-brown-2: hsl(22, 32%, 95%);
  --color-human-panda-brown-3: hsl(22, 32%, 86%);
  --color-human-panda-brown-4: hsl(22, 32%, 77%);
  --color-human-panda-brown-5: hsl(22, 32%, 68%); /* This is the light hair */
  --color-human-panda-brown-6: hsl(22, 32%, 59%);
  --color-human-panda-brown-7: hsl(22, 32%, 50%);
  --color-human-panda-brown-8: hsl(22, 29%, 45%); /* This is the dark hair */
  --color-panda-grey-0: hsl(0, 0%, 94%);
  --color-panda-grey-1: hsl(0, 0%, 88%);
  --color-panda-grey-2: hsl(0, 0%, 84%);
  --color-panda-grey-3: hsl(0, 0%, 74%);
  --color-panda-grey-4: hsl(0, 0%, 65%);
  --color-panda-grey-5: hsl(0, 0%, 56%);
  --color-panda-grey-6: hsl(0, 0%, 47%); /*  This is the panda shadow */
  --color-panda-grey-7: hsl(0, 0%, 37%);
  --color-panda-grey-8: hsl(0, 0%, 27%);
  --color-panda-grey-9: hsl(0, 0%, 18%);

  --color-status-blue: #228be6;
  --color-status-greyed: #868aa5;
  --color-status-disabled: #ced4da;
}
