.page_editor {
  padding-left: var(--composer-sidebar-width);
  padding-top: var(--composer-header-height);
  min-height: calc(100vh - var(--header-height));
  position: relative;
  z-index: 1;
  background-color: var(--mantine-color-body);

  @mixin light {
    background-color: var(--mantine-color-white);
    box-shadow: var(--mantine-shadow-sm);
  }

  @mixin dark {
    background-color: var(--mantine-color-dark-7);
    box-shadow: none;
  }
}

.content_wrapper {
  z-index: 1;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-top: var(--mantine-spacing-xl);
  padding-left: calc(var(--mantine-spacing-xl) * 2);
  padding-right: calc(var(--mantine-spacing-xl) * 2);
  background-color: var(--mantine-color-body);
}
