.section {
  max-width: var(--page-content-max-width);
  margin: 0 auto;
  padding: 0 var(--page-padding-horizontal)
    calc(var(--page-footer-height) + var(--page-section-gap));
}

.section_content {
  position: relative;
  box-sizing: border-box;
  border: var(--card-border);
}

.images_container {
  padding: calc(var(--page-padding-horizontal) / 2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 4px;
}

.image_container {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
  overflow: hidden;
}

.social_icon {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  filter: invert(100%) sepia(19%) saturate(0%) hue-rotate(157deg)
    brightness(107%) contrast(101%) drop-shadow(2px 2px 2px rgb(0 0 0 / 0.75));
}

.image {
  z-index: var(--z-index-backgrounds);
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  transition: transform 200ms ease;
}

.image_container:hover .image {
  transform: scale(110%);
  transform-origin: center;
}

@media (max-width: 640px) {
  .images_container {
    padding: calc(var(--page-padding-horizontal) / 2);
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
  }
}
