.page_main_content_card_tabs {
  margin-top: var(--dashboard-content-tabs-margin-top);
}

.page_main_content_card_tabs span {
  font-size: var(--font-size-regular);
}

.page_main_content_card_tabs_list {
  justify-content: left;
  gap: var(--dashboard-content-tabs-gap);
}

.page_main_content_card_tabs_list::before {
  border-bottom: var(--editor-menu-border);
}

.page_main_content_card_tabs_list > button[data-active='true'] {
  color: var(--mantine-primary-color-filled);
}

.page_main_content_card_tabs_panel {
  font-size: var(--font-size-regular);
  flex-grow: 1;
}

.card_inner {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card_header {
  z-index: var(--z-index-editor-toolbar);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--mantine-color-white);
  /* This is a horrendous hack to hide scroll behind border radius */
  box-shadow: 0px 0px 0px 30px var(--mantine-color-white);
  clip-path: inset(-30px -10px -1px -10px);
  height: var(--dashboard-content-card-sticky-header-height);
  outline: var(--editor-menu-border);
  border-top-left-radius: var(--dashboard-content-card-radius);
  border-top-right-radius: var(--dashboard-content-card-radius);
}

.card_body {
  position: relative;
  padding: 15px;
}
