.page_main_content_body_card {
  width: 100%;
  margin-top: -1px;
  border: var(--editor-menu-border);
  border-radius: var(--dashboard-content-card-radius);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card_inner {
  font-size: var(--font-size-regular);
  font-weight: var(--font-weight-regular);
  position: relative;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.card_header {
  z-index: var(--z-index-editor-toolbar);
  position: sticky;
  top: 0;
  background-color: var(--mantine-color-white);
  /* This is a horrendous hack to hide scroll behind border radius */
  box-shadow: 0px 0px 0px 30px var(--mantine-color-white);
  clip-path: inset(-30px -10px -1px -10px);
  height: var(--dashboard-content-card-sticky-header-height);
  outline: var(--editor-menu-border);
  border-top-left-radius: var(--dashboard-content-card-radius);
  border-top-right-radius: var(--dashboard-content-card-radius);
  display: flex;
  align-items: center;
}

.card_header_inner {
  flex: 1;
  font-size: var(--font-size-composer-sidebar-heading);
  font-weight: var(--font-weight-bold);
  padding: 0 var(--dashboard-content-card-padding-horizontal);
}

.card_body {
  position: relative;
}

.card_body_inner {
  margin: var(--dashboard-content-edit-card-padding);
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: var(--dashboard-content-card-padding-horizontal);
}

.card_body_inner_left > *,
.card_body_inner_right > * {
  margin-top: 12px;
}
